
@{
    ViewBag.Title = "about";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-8">
        <h2 style="color:crimson; text-align:center;">ABOUT ME</h2>
        <div style="text-align:center;">
            <img src="~/assets/goku.gif" /><img src="~/assets/veg11.gif" />
        </div>
        <p style="color:crimson;">
            I love japanese anime and video games. I'm even learning to make my own video games.<br /> <br />
             i'll put more here later lol
        </p>
        <div style="text-align:center;">
            <img src="~/assets/beambattle.gif" />
        </div>
    </div>
</div>