
@{
    ViewBag.Title = "contact";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-8">
        <h2>Talk to me!</h2>
        <p>e-mail - evilmegamanz@aol.com</p>
        <p>AOL Instant Messenger - evilmegamanzero</p>
        <p>Yahoo Messenger - XxCloudstrife4050xX</p>
        <p>Battle.net ID (for Starcraft) - evilmegamanz</p>
        <img src="~/assets/email.gif" />
    </div>
</div>

