@{
    ViewBag.Title = "index";
    Layout = "";
}
<head>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="indexpage">
        <div style="height:10px; width:100%; background-color:black;"></div>
        <div class="row" style="background-color:black; text-align:center;">
            <h3 style="color:palevioletred">Welcome to</h3>
            <h1 style="font-size:40pt; font-weight:bold; color:palevioletred">LUKAS'S COOL PAGE!!</h1>
            <p class="white" style="font-size:medium;">This page is best viewed on a 1024x768 monitor.</p>
        </div>
        <div style="height:30px; width:100%; background-color:black;"></div>
        <div class="row" style="background-color:black;">
            <div class="col-md-3" style="text-align: center;"></div>
            <div class="col-md-3" style="text-align: center;">
                <a href="Home/frms">
                    <img src="~/assets/ff7-cloud4.jpg" style="max-height: 300px;" />
                    <p style="color:lightblue; font-size:medium;">Click Cloud Strife for FRAMES</p>
                </a>
            </div>
            <div class="col-md-3" style="text-align: center;">
                <a href="Home/nofrms">
                    <img src="~/assets/dragon-ball-z26.jpg" style="max-height: 300px;" />
                    <p style="color:lightblue; font-size:medium;">Click SSJ Vegito for NO FRAMES</p>
                </a>
            </div>
            <div class="col-md-3" style="text-align: center;"></div>
        </div>
        <div style="height:20px; width:100%; background-color:black;"></div>
        <div class="row" style="text-align: center; background-color:black;">
            <h2 style="font-family:Impact; color:red;">You are visitor #</h2>
            <img src="~/assets/counter.gif" />
        </div>
    </div>
</body>