
@{
    ViewBag.Title = "Useless No Frames Ver.";
    Layout = "";
}

<head>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
</head>
<body style="background-color:black;">


    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-8 black white">
            <div style="min-height:10px;"></div>
            <div>
                <img src="~/assets/walk.gif" style="height:100px;" />
                <img src="~/assets/walk.gif" style="height:100px;" />
                <img src="~/assets/walk.gif" style="height:100px;" />
                <img src="~/assets/walk.gif" style="height:100px;" />
                <img src="~/assets/walk.gif" style="height:100px;" />
                <img src="~/assets/walk.gif" style="height:100px;" />
                <img src="~/assets/walk.gif" style="height:100px;" />
                <img src="~/assets/walk.gif" style="height:100px;" />
                <img src="~/assets/walk.gif" style="height:100px;" />
                <img src="~/assets/walk.gif" style="height:100px;" />
            </div>
            <div style="text-align:center; min-height:50px;">
                <img src="~/assets/welcome.gif" />
            </div>
            <div class="white">
                <h1 style="color:palevioletred">YO.</h1>
                <p style="color:palevioletred">
                    Welcome to my home base on the internet. it's called lukas's cool page!! <br />
                    I called it "cool page" because I like the COOLEST stuff out there. <br />
                    Check out the hyperlinks to learn more about me and the computer programs I've made.<br /> <br /> <br />
                </p>
            </div>
            <div style="text-align:center;">
                <p style="color:palevioletred;">THIS PAGE IS CURRENTLY UNDER CONSTRUCTION.</p>
                <img src="~/assets/construction.gif" style="text-align:center;" />
            </div>
        </div>
    </div>
    </body>