
@{
    ViewBag.Title = "projects";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-8" style="color:fuchsia">
        <h1>PROJECTS!!</h1>
        <img src="~/assets/mega.gif" style="height:100px;"/>
        <br /><br />
        <h3>Lukas Makes Lists: Make sweet lists and move 'em around!!</h3>
        <h3>Fighting Game Sensei: Learn to HADOKEN!</h3>
        <h3>Pizza for Bob: Zany adventure game. It's kinda boring but oh well lol</h3>
        <h3>Shape Plummet: Everybody loves Tetris and disco!!!</h3>
        <br /> <br />
        <div style="text-align:center">
            <img src="~/assets/gw.gif" />
        </div>
    </div>
</div>

